/front/node_modules
/front/.next
/front/.DS_Store

/back/node_modules
/back/.env
/back/uploads
/back/.DS_Store
/back/seeders

/next_blog.pem
.DS_Store

/next_blog_dump.sql
/next_blog_dump_lasted.sql
/backup.sql
