.btn_cancel {
  float: left;
  width: 76px;
  height: 30px;
  line-height: 30px;
  border-radius: 1px;
  border: 1px solid rgb(197, 205, 215);
  background: rgb(255, 255, 255);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px;
  box-sizing: content-box;
  vertical-align: middle;

  & + .btn_default {
    margin-left: 4px;
  }

  &:hover {
    border-color: rgb(165, 173, 186);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 3px;
  }
}

.btn_default {
  display: inline-block;
  width: 76px;
  height: 30px;
  border: 1px solid rgb(51, 51, 51);
  line-height: 30px;
  color: rgb(255, 255, 255);
  background: rgb(51, 51, 51);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px;
  box-sizing: content-box;

  &.btn_off {
    background: rgb(255, 255, 255);
    border-color: rgb(224, 229, 238);
    color: rgb(149, 149, 149);
    box-shadow: none;
    cursor: not-allowed;
  }
}

button {
  cursor: pointer;

  &:disabled {
    cursor: no-drop;
  }
}

#mArticle {
  position: relative;
  width: 894px;
  float: right;
}

.tit_category {
  margin: -5px 0 9px;
  overflow: hidden;
  position: relative;
  /* margin: 35px 0 10px; */
  /* font-family: Noto Sans DemiLight, AppleSDGothicNeo-Regular, "Malgun Gothic",
    "맑은 고딕", dotum, "돋움", sans-serif; */
  font-size: 20px;
  font-weight: normal;
  color: #000;
  letter-spacing: -0.5px;
}

// ---------------------------------------------------------------------
// --------------------------------wrap_set-----------------------------
// ---------------------------------------------------------------------
.wrap_set {
  padding: 25px 29px 0;
  font-size: 14px;
  background: #fff;
  border-radius: 1px;
  border: 1px solid #e0e5ee;

  & .wrap_add {
    border: 1px dotted #acb3bf;
  }

  & .lab_add {
    float: none;
    display: block;
    height: 50px;
    line-height: 48px;
    font-size: 16px;

    & .ico_add {
      width: 13px;
      height: 13px;
      margin: 19px 17px 0 19px;
      background-position: -200px 0;
    }
  }

  & .lab_tf {
    display: block;
  }

  &::after {
    display: block;
    clear: both;
    content: "";
  }
}

.tit_set {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: rgb(51, 51, 51);
  letter-spacing: -0.2px;
}

.desc_info {
  margin-top: 4px;
  font-size: 13px;
  color: rgb(128, 128, 128);
}

.bundle_group {
  float: right;
  margin: -31px 0px 0px;
  font-size: 14px;
}

.count_total {
  float: left;
  margin: 8px 18px 0px 0px;
  font-size: 12px;
  font-family: "Avenir Next Regular", AppleSDGothicNeo, 돋움, dotum, sans-serif;
  color: rgb(149, 149, 149);
}

.lab_btn {
  overflow: hidden;
  float: left;
  position: relative;
  cursor: pointer;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    content: "";
  }
}

/* .lab_btn::after {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  content: "";
} */

// ---------------------------------------------------------------------
// --------------------------------.blog_category-----------------------
// ---------------------------------------------------------------------
.blog_category {
  & .btn_group {
    width: 88px;
    height: 26px;
    line-height: 26px;
    border-radius: 1px;
    border: 1px solid rgb(197, 205, 215);
    font-size: 13px;
    background: rgb(255, 255, 255);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px;
    box-sizing: content-box;

    & + .btn_group {
      margin-left: 4px;
    }

    &:hover {
      border-color: rgb(165, 173, 186);
      box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 3px;
    }
  }

  & .bundle_item:nth-child(n + 2) .tf_blog {
    width: 300px;
  }

  & .set_order {
    margin: 21px 0px 30px;
    padding: 8px;
    border-radius: 1px;
    background: rgb(231, 237, 243);

    & .ico_all {
      width: 10px;
      height: 10px;
      background-position: -280px -30px;
    }
    & .wrap_all .ico_drag {
      background-position: -60px -400px;
    }

    & .txt_name {
      width: auto;
      max-width: 260px;
    }

    & .wrap_name {
      float: left;
      width: 320px;
      margin-right: 10px;
    }

    & .txt_count {
      float: left;
      margin: 16px 0 0 6px;
      font-size: 13px;
      font-family: "Avenir Next Regular", AppleSDGothicNeo, "돋움", dotum,
        sans-serif;
      color: #808080;
    }
  }

  & .info_btn {
    float: right;

    & .btn_post {
      float: left;
      width: 38px;
      height: 23px;
      margin: 0px 0px 0px 4px;
      padding: 5px 0px 0px;
      font-size: 12px;
    }
  }

  & .lab_cate {
    cursor: default;
    width: 28px;
    height: 50px;
    margin: 0px 20px 0px -19px;
    border-right: 1px solid rgb(241, 243, 246);
    background: rgb(250, 251, 252);

    & .wrap_arr {
      display: block;
      width: 8px;
      height: 8px;
      margin: 22px 0px 0px 10px;
      text-align: center;
    }

    & .ico_blog {
      width: 3px;
      height: 3px;
      margin-top: 3px;
      background-position: -270px -50px;
    }
  } // .blog_category .lab_cate

  & .lab_fold {
    cursor: pointer;

    & .wrap_arr {
      transition: transform 0.2s cubic-bezier(0, 0, 0.2, 1);
    }

    & .ico_blog {
      width: 5px;
      height: 8px;
      margin: 0 0 0 1px;
      background-position: -280px -300px;
    }
  }

  & .open_subcate {
    & .wrap_arr {
      transform: rotate(90deg);
    }

    & .list_sub {
      display: block;
    }
  }

  & .list_sub .bundle_item {
    margin-left: 60px;
  }

  & .wrap_add:not(.item_edit) {
    position: relative;
  }

  & .set_btn {
    overflow: hidden;
  }

  & .item_edit .lab_cate {
    margin: 0px 9px 0px -8px;
  }
} // .blog_category

// ---------------------------------------------------------------------
// --------------------------------set_order----------------------------
// ---------------------------------------------------------------------
.set_order {
  & .wrap_order {
    position: relative;
  }

  & .item_order {
    padding: 0px 19px;
    height: 52px;
    margin-bottom: -1px;
    border: 1px solid rgb(224, 229, 238);
    font-size: 16px;
    background: rgb(255, 255, 255);
    box-sizing: border-box;

    & .lab_tf:first-child {
      float: left;
      margin: 5px 20px 0px -2px;
    }

    &::after {
      display: block;
      clear: both;
      content: "";
    }
  }

  & .basic_item::after {
    display: block;
    clear: both;
    content: "";
  }

  & .wrap_drag {
    position: relative;
    float: left;
    margin: 10px 8px 0px -10px;
    padding: 10px;
  }

  & .ico_drag {
    display: block;
    width: 12px;
    height: 10px;
    background-position: 0px -400px;
  }

  & .txt_name {
    float: left;
    overflow: hidden;
    width: 190px;
    margin-top: 13px;
    /* font-family: "Noto Sans Regular", AppleSDGothicNeo-Regular, "Malgun Gothic",
      "맑은 고딕", dotum, 돋움, sans-serif; */
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.5;
  }

  & .list_order > .bundle_item:last-child {
    margin-bottom: 7px;
  }

  & + .set_btn {
    overflow: hidden;
    margin: 0 -29px;
    padding: 12px 29px 12px;
    border-top: 1px solid #f1f3f6;
    background: #fafbfc;
  }

  & .item_edit {
    padding: 0px 20px 0px 8px;
    background: rgb(251, 251, 251);
  }

  & .open_subcate .item_order .lab_tf:first-child {
    margin-left: -3px;
  }
} // .set_order

// .set_order .item_order::after {
//   display: block;
//   clear: both;
//   content: "";
// }

/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  not all,
  only screen and (min-resolution: 144dpi),
  only screen and (min-resolution: 1.5dppx) .ico_blog {
  background-image: url(//t1.daumcdn.net/tistory_admin/static/manage/images/r2/ico_tistory_200512.png);
  background-size: 290px 460px;
} */

.ico_blog {
  display: inline-block;
  overflow: hidden;
  background: url(//t1.daumcdn.net/tistory_admin/static/manage/images/r1/ico_tistory_200512.png)
    no-repeat;
  vertical-align: top;
  text-indent: -9999px;
}

// ---------------------------------------------------------------------
// --------------------------------.item_order--------------------------
// ---------------------------------------------------------------------
.item_order {
  & .info_btn {
    /* display: none; */
    float: right;
    margin: 14px 0px 0px;
  }

  & .btn_post {
    /* display: none; */
  }

  &:hover .btn_post {
    display: inline-block;
  }

  // &:hover .edit_item .order_btn {
  //   margin: 9px 0px 0px;
  // }

  // &:hover .order_btn {
  //   display: block;
  // }
}

.info_btn {
  /* display: none;
  font-size: 0px; */
}

.info_btn .btn_post {
  width: 38px;
  height: 23px;
  padding: 5px 0px 0px;
  margin: 0px 0px 0px 4px;
  font-size: 12px;
  line-height: 1;
}

.btn_post {
  display: inline-block;
  cursor: pointer;
  width: 38px;
  height: 23px;
  border: 1px solid rgb(197, 205, 215);
  font-size: 12px;
  line-height: 1;
  background-color: rgb(255, 255, 255);
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 1px 0px;
  box-sizing: border-box;
  vertical-align: top;

  & .disabled {
    border-color: #e0e5ee;
    color: #959595;
    box-shadow: none;
    cursor: no-drop;
  }

  &:hover {
    border-color: rgb(164, 173, 186);
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 3px 0px;
  }
}

.info_btn {
  /* display: none; */
  /* font-size: 0px; */
}

/* .lab_btn::after {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 10;
  content: "";
} */

.lab_btn .btn_g {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.btn_save {
  float: right;
  width: 158px;
  height: 38px;
  font-size: 14px;
  line-height: 38px;
  border-radius: 1px;
  border: 1px solid #333;
  color: #fff;
  background: #333;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  box-sizing: content-box;
}

.item_edit .edit_item {
  display: block;
}

.edit_item .order_btn {
  display: block;
}

.order_btn {
  // display: none;
  float: right;
  margin-top: 9px;
}

.screen_out {
  overflow: hidden;
  position: absolute;
  width: 0px;
  height: 0px;
  line-height: 0;
  text-indent: -9999px;
}

.tf_blog {
  display: block;
  width: 804px;
  height: 24px;
  padding: 6px 14px 8px;
  border: 1px solid rgb(197, 205, 215);
  font-size: 16px;
  box-sizing: content-box;
  outline: none;
  vertical-align: top;
}
